@import "tailwindcss";

@theme {
  --inset-shadow-xl: inset 0 0 12px rgba(0, 0, 0, 0.25); 
  --inset-shadow-md: inset 0 -2 12px rgba(0, 0, 0, 0.25); 

  --animate-entrance: entrance 2s ease-in-out forwards;

    @keyframes entrance {
        0% {
            opacity: 0.4;
            transform: scale(0.6) translateY(10px);
        }
        100% {
            opacity: 1; 
            transform: scale(1.0) translateY(0px);
        }
    }
    
}