@import "tailwindcss";

@theme {
    /*Colors*/
    --color-coral-red: #BF4646;
    --color-champagne: #EDDCC6;
    --color-off-white: #FFF4EA;
    --color-blue-glacial: #7EACB5;

    /*Shadow*/
    --inset-shadow-xl: inset 0 0 12px rgba(0, 0, 0, 0.25); 
    --inset-shadow-md: inset 0 -2 12px rgba(0, 0, 0, 0.25); 
    --shadow-center-3xl: 0 0 35px rgba(0, 0, 0, 0.25); 
    
    /*Animation*/
    --animate-entrance: entrance 2s ease-in-out forwards;

    @keyframes entrance {
        0% {
            opacity: 0.4;
            transform: scale(0.6) translateY(10px);
        }
        100% {
            opacity: 1; 
            transform: scale(1.0) translateY(0px);
        }
    }
    
}